/* this is the reset and the box sizes are to see where we are typing and how much space in between */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Noto Sans JP";
}

img{
max-width: 100%;
}


/* this is where the reset ends */
/* the next is going to be our general parent style */

/* genral styles, all sections have 2% padding-margin */
header, section, footer {
  padding: 4% /* make it responsiveby using %instead of px */
  /* no margins cause all the pictures stick to the border */
}

.footer-nav {
margin: -5rem;
padding: 8rem;
background-color: black;
text-align: center;
}

.logo {
  background-color: white;
  position: fixed; /* this tells it to stay in place as we scroll */
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

}

.bump-left {
  text-align:left;
  margin-left: -4rem;
  position: relative;
  z-index: 9;
  background-color: rgba(255,255,255,0.8);
  padding: 1rem;
}

.bump-right {
  text-align: right;
  margin-right: -4rem;
  position: relative;
  z-index: 9;
  background-color: rgba(255,255,255,0.8);
  padding: 1rem;
}

.center {
  text-align: center;
}
.blog-button {
  text-align: center;
}

nav a {
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    font-family: "Playfair Display";
    border-bottom: 1px solid rgba(0,0,0,0);
    color: inherit;
}
nav a:hover {
    border-bottom: 1px solid;
}


.blog-button a {
    text-decoration: none;
    font-style: italic;
    padding: 1rem;
    display: inline-block;
    border-bottom: 1px solid;
    font-family: "Playfair Display";
}
/* typography styles */

h1,h2,h3,h4,h5,h6 {
  font-family: "Playfair Display";
  font-weight: normal;
}

p {
  font-family: "Playfair Display";
  font-style: normal;
}
.about {
  margin: 10% 29%;
  color: black;
}
.about p {
  margin: 5% 0;
}
.about-quote {
  border-left: 1px solid grey;
  padding-left: 4rem;
  font-size: 1.5rem;
  font-style: italic;
}
span {
  color: white;
}

.posts h1 {
  text-align: center;
}
.blog-title {
  text-align: inherit;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-posts img {
  margin: auto;
  display: block;
}
/* end of typography */

/* small classes */
.padding-none {
  padding: 50px;
}
/* end of small classes */

/* beginning of sections */
header {
  background-image: url('https://66.media.tumblr.com/96f16959e57ee59dd84dfb44cfd4c2ed/tumblr_ougjqhHm0m1untqm5o1_500.gif');
  background-position: center ;
  background-size: cover;
  min-height: 100vh;
  text-align: left;
}

hr {
  width: 80%;
  margin: 1rem auto;
}

.blog-reviews div{
  min-height: 40vh;
}

.blog-title {
  font-family: sans-serif;
  color: red;
}
.col-6 {
  padding: 2rem;
}
.cafe {
  background-image: url('images/cafe.jpg');
  background-size: contain;
  background-position: 50% 50%;

}
.interior {
  background-image: url('images/interior.jpg');
  background-size: contain;
  background-position: 25% 25%;
}
.asiyami {
  background-image: url('images/asiyami.jpg');
  background-size: contain;
  background-position: 25% 25%;
}
.bg-image {
  background-position: center;
  background-size: cover;
  padding-bottom:40%;

}
.post-bg-image {
  margin: 0 2% 2% 0;
}
.editor {
  text-align: center;
}

.picks {
  border:
  text-align: center;
}
/* input {
  width: 25%;
  margin-bottom: 0.5rem;
  padding: 1% ;
  margin: 0;
} */

.where-i-shop {
  display: grid;
  padding-left: 9rem;
  padding-right: 5rem;
  word-spacing: 1rem;
} /* anordnung damit es wie ne liste aussieht */

.posts-text-section {
  margin-bottom: 5%;
}

/* contact form */
.button-flat, {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid teal;
  color: teal;
  transition: all 0.5s; /* this makes the hover effects smooth */
  line-height: 1.5rem;
}



.left-align {
  text-align: right;
}
.contact {
  text-align: center;
}

.contact-form {
  text-align: center;
  height: 108vh;
  font-size: small
}

.padding-right {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.form-md {
  float: left;
  width: 100%;
  text-align: center;
  margin: 30px auto 30px auto;
}
.form-md .form-group {
  margin-left: auto;
  margin-right: auto;
  /* max-width: 300px; */
}
.form-group {
  margin-bottom: 15px;
  position: relative;

}
input {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  height: 32px;
  outline: none !important;
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  background: -webkit-linear-gradient(bottom, #51BBBE 50%, #51BBBE 50%);
  background: linear-gradient(to top, #51BBBE 50%, #51BBBE 50%);
  background-position: left bottom;
  background-size: 0 1px;
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
}
::-webkit-input-placeholder { text-align: right; color: #DDD; font-size: 13px; font-weight: 200; }
:-moz-placeholder { text-align: right; color: #DDD; font-size: 13px; font-weight: 200; }
::-moz-placeholder { text-align: right; color: #DDD; font-size: 13px; font-weight: 200; }
:-ms-input-placeholder { text-align: right; color: #DDD; font-size: 13px; font-weight: 200; }

label {
  position: absolute;
  top: 14px;
  text-align: left;
  display: block;
  width: 100%;
  height: 52px;
  line-height: 72px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 200;
  background: transparent;
  color: rgba(0,0,0,0.6);
  margin: 0px auto;
  cursor: text;
  transition: all .15s ease-in-out;
}
.col-12 label {
  top: -17px;
}
input:hover, input:focus { border-color: #000; }
input:focus {
  background-position: left bottom;
  background-size: 100% 1px;
}
input:valid + label, input:focus + label {
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  color: #000;
}

input:focus ::-webkit-input-placeholder { color: transparent; font-size: 0; }
input:focus :-moz-placeholder { color: transparent; font-size: 0; }
input:focus ::-moz-placeholder { color: transparent; font-size: 0; }
input:focus :-ms-input-placeholder { color: transparent; font-size: 0; }

/* everything below makes the arrow */
.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  z-index: 9;
  left: 50%;
  /* this makes it move */
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation makes animation work across browsers*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
.button-flat.fancy {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  padding: 1rem 3rem;
  color: black;
  border-color: black;
  border: 1px solid black;
  width: 20%;
  min-height: 3rem;
}
.smaller-bg-image {
  padding: 5%;
}
/* Hover Effects */
.button-flat:hover {
  color: white;
  border-color: black;
  background-color: black;
}
