<!DOCTYPE html>
<html>

<!--  HEAD This is where we put all the extra info for the browser,
like stylesheet, google fonts, seo info etc. -->

<head>
  <title> {{page.title}} </title>

 <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700|Playfair+Display:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

  <link href="/style.css" rel="stylesheet">
  <link href="/editor.css" rel="stylesheet">

  </head>


<!--  BODY This is where the entire website will go-->
<body>
  <!-- the beginning of the header -->
  {% if page.video-banner %}
  <header>
    <a id="scroll-arrow">
      <div class="scroll-down"></div>
    </header><a>
  {% endif %}

  <!-- the end of header -->
  <!-- beginning of logo banner -->
    <section class="center">
      <!-- this is where the arrow scrolls to -->
      <a name="scroll-anchor"></a>
      <!-- this is gonna be my own designed logo -->
        <h1 class="editable"> L ' O R   AU   S P H È R E' </h1>
        <h2> . m a g a z i n e. </h2>
        <!-- end of logo -->
        <hr>
        <nav>
          <a href="/">HOME</a>
          <a href="/about">ABOUT</a>
          <a href="/posts">EDITORIALS</a>
          <a href="#">PORTFOLIO</a>
          <a href="/contact">CONTACT</a>
        </nav>
    </section>

  <!-- the end of the logo banner -->

{{ content }}

<footer class="footer-nav">
  <nav> <span>
    <a href="https://www.instagram.com/lovslor/"> Instagram </a>
    <a href="https://www.facebook.com/stephie.lor.50"> Facebook </a>
    <a href="https://twitter.com/lovslor"> Twitter </a>
    <hr> </hr>
    <!-- */ <p> © 2 0 1 9 S t e p h i e L ' o r | A l l R i g h t s R e s e r v e d. </p> */ -->
    </span>
  </nav>
</footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"> </script>
  <script src="scripts.js"> </script>
    </body>
    </html>
